@import url('https://fonts.googleapis.com/css2?family=Jersey+25&display=swap');

*{
    margin: 0%;
    padding: 0%;
    font-family: 'Jersey 25' ;
    text-align: center;
}

header img{
    width: 80px;
    
}

header{
    text-align: center;
    font-size: 27px;
    padding: 20px;
    background-color: #3d3d61;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

body{
    background-color: #2e2e49;
}

#versiculo{
    margin-top:40px;
    margin-left: 200px;
    margin-right: 200px;
    padding: 20px;
    background-color: white;
    border: 2px solid rgb(48, 45, 48);
    border-radius: 10px;
    box-shadow: 0 0 10px;
}

#texto{
    font-weight: 600;
}

#botao-sortear{
    color: white;
    background-color: rgb(69, 94, 69);
    padding: 12px ;
    border: 3px solid ;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    transition: 0.5s;
}

#botao-sortear:hover{
    background-color: rgb(4, 160, 4);
}


.content img{
   width: 190px;
}

.content{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: white;
    font-size: 20px;
}


@media (max-width: 650px) {
    #versiculo{
        margin-left: 40px;
        margin-right: 40px;
    }

    .content{
        display: grid;
    }

    .content img{
        margin-left: 20%;
    }

    header{
        border-radius: 0px 0px 20px 20px;
    }
    
}
