*{
    margin: 0%;
    padding: 0%;
    font-family: 'arial';
    text-align: center;
}

section img{
    width: 200px;
    border-radius:100px;
}

header{
    text-align: center;
    font-size: 22px;
    padding: 20px;
    margin-left: 40px;
    margin-right: 40px;
    border-bottom: 5px solid white;
    color: white;
}

body{
    background-color: #2e2e49;
}

#versiculo{
    margin-top:20px;
    margin-left: 200PX;
    margin-right: 200PX;
    padding: 20px;
    background-color: white;
    border: 2px solid rgb(48, 45, 48);
    border-radius: 10px;
    box-shadow: 0 0 10px;
}

#botao-sortear{
    font-weight: bold;
    color: white;
    background-color: green;
    padding: 12px ;
    border: 3px solid ;
    border-radius: 1pc;
    cursor: pointer;
    text-align: center;
    transition: 0.5s;
}

#botao-sortear:hover{
    background-color: rgb(4, 160, 4);
}

